<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="firstTestSuite" verbose="1" parallel="tests" thread-count="2" >

    <!--<test name="FindJob">
        <classes>
            <class name="functional.lesson04.FindJob" />
        </classes>
    </test>-->

    <!--<test name="HomeWork">
        <classes>
            <class name="functional.lesson04.HomeWork" />
        </classes>
    </test>-->

    <!--<test name="TestLink">
        <classes>
            <class name="tests.functional.CreateSuiteTest" />
        </classes>
    </test>-->

    <test name="ParallelTest">
        <classes>
            <class name="tests.functional.ParallelGridTest" />
        </classes>
    </test>

    <!-- http://blog.wedoqa.com/2013/07/how-to-run-parallel-tests-with-selenium-webdriver-and-testng-2/ -->
</suite>